.buscar-tours-header {
    width: 100%;
    color: var(--red);
    font-size: 3rem;
    margin-bottom: 0;
}

.tour-grid {
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    justify-content: space-between;
    padding: 0 12% 0 12%;
    margin: 0 0 7vh;
    row-gap: 2.5vh;
}

@media (min-width: 250px) and (max-width: 992px){ 
    .buscar-tours-header {
        width: 50%;
        text-align: left;
        color: var(--red);
        font-size: 5rem;
        margin-bottom: 0;
    }
    .tour-grid {
        width: 90vw;
        padding: 0 5vw;
        margin-top: -3vh;
        overflow: hidden;
        z-index: 9;
        justify-content: flex-start;
    }

}