.mobile-nav h1 {
    color: white;
    align-self: center;
    font-family: korolev, sans-serif;
font-weight: 700;
font-style: normal
}

.mobile-nav h1 a {
    font-family: korolev, sans-serif;
font-weight: 700;
font-style: normal
}
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    background-color: rgb(58, 66, 81, .9);
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5vh 6vw 0 6vw;
}

.mobile-nav a {
    color: #eee;
    text-decoration: none;
    font-size: clamp(3rem, 4vw, 6vw);
    font-family: korolev, sans-serif;
font-weight: 500;
font-style: normal;
    transition: .2s all ease-in-out;
    margin-top: 20px;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  
}

.mobile-nav a:hover {
    transition: .2s all ease-in-out;
    color: orangered;
}

@media (min-width: 250px) and (max-width: 1080px){ 
    .mobile-nav h1 {
        font-size: 2.5rem;
    }  
    .mobile-nav a {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 250px){ 

    .mobile-nav h1 {
        font-size: 3.5rem;
    }  
    .mobile-nav a {
        font-size: 3.8rem;
    }
    
}

